@model IEnumerable<RavenExample.People.Person>
@{ 
    Layout = "_Layout";
}

@if (ViewBag.IsStale)
{
    <h2>DATA IS STALE</h2>
}
<ol>
  @foreach (var person in Model)
  {
      <li>@person.LastName, @person.FirstName, @person.Birthdate</li>
  }
</ol>